<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://hanh211.github.io/ha9/socket.io/socket.io.js"></script>
    <script src="jquery-3.7.1.min.js"></script>
    <script>
      // var socket=io("http://localhost:3000");
      var socket=io("https://hanh211.github.io/ha9/");
      $(document).ready(function(){
        // alert("jquey")
      });
    </script>
    <title></title>
  </head>
  <body>
    chao
  </body>
</html>
